{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{users.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="id" value="{{users.id}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fullname" value="{{users.fullname}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="username" value="{{users.username}}" class="form-control">
          <div class="form-group">
            <input type="=text" name="password" value="{{users.password}}" class="form-control">
          <div class="form-group">
              <input type="=text" name="email" value="{{users.email}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}